@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #0593A2, #103778);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #030f20ab;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #E3371E;
    text-align: center;
    text-shadow: 1px 1px 2px #5e170cc7;
}

h2{
    color: #FF7A48;
}

p{
    text-align: justify;
}